.bg-wrapper{
    background-color: rgb(113, 184, 131);
    padding-top: calc(5rem + 2%); 
    padding-bottom: 5rem;
}
.blogPage-ef {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-right: 5%;
    gap: 10px;  
    
}
.titleblock-ef {
    position: relative;
    display: inline-block;
}
.title-ef{
    font-size: clamp(2.25rem, 5vw, 5rem); 
    font-family: 'Prompt', sans-serif;
    position: relative;
    text-align: center;
    z-index: 2;
}

.header-ef{
    font-size: clamp(1.75rem, 3vw, 2.5rem); 
    font-family: 'Prompt', sans-serif;
    position: relative;
    text-align: center;
    z-index: 2;
}

.picture-box-ef {
  text-align: center;  
  width: 70%;
}

.picture-box-ef p{
    font-family: "Poppins", serif;
    font-size: clamp(1rem, 1vw, 5rem); 
}
.bokehPlot{
    display: flex;
    justify-content: center;
    padding: 2rem;
 }
 #bokeh-target {
    width: 70%;
    margin: 0 auto;
}

.imageheat {
    width: 80%;
    height: auto;  
}







@media (max-width: 768px) {
    #bokeh-target {
        width: 100%;
    }
    .bokehPlot{
        padding: 0rem;
     }
     .picture-box-ef {
        width: 90%;  
      }
  }