    #landing {
        padding: 0 5rem; 
        display: flex;
        flex-wrap: wrap;
        /* justify-content: space-between;  */
    }
    

    .top-section {
        display: flex; /* Set top-section as a flex container */
        justify-content: space-between; /* Distribute child elements evenly */
        align-items: center; /* Align items vertically */
    }
    .introContent {
        flex: 1 1 50%;
        max-width: 50%;
        padding-right: 2rem;
        display: flex;
        flex-direction: column; /* Stack child elements vertically */
        justify-content: center;
    }
    
    .profileImg {
        flex: 1; /* Allow profileImg to grow and take up available space */
        max-width: 50%; /* Limit the width to 50% of the container */
    }
    .bg {
        width: 100%; /* Ensure the image fills the available space */
        height: auto; /* Maintain aspect ratio */
        object-fit: cover;
    }
    
    
    
    .intro {
        font-size: 2.5rem; /* Adjust font size as needed */
        font-weight: 300;
        /* color: #000;  */
    }
    

    .hello{
        font-size: 5rem;
        font-weight: 200;
        color: var(--primary-color);
    }

    .name{
        color: rgb(146, 57, 235);
    }

    .aboutpg{
        font-size: medium;
        font-weight: 200;
    }

    /* @media screen and (max-width: 840px) {
        .bg {
            max-width: 100%; 
        }
    
        .introContent {
            padding-right: 0; 
        }
    } */


    /* .line {
        border-top: 2px solid blue;
        justify-content: center;
        width: 45%;
        margin: 0 10px; 
    } */

 
    /* h2 {
        display: flex;
        align-items: center; 
        margin: 20px 0;
    } */

    .bottom-section {
        margin-top: 4rem;
        margin-bottom: 1rem;
        width: 100%;
        text-align: center;
        position: relative; /* Position the pseudo-element relative to this container */
    }
    
    .bottom-section::before,
    .bottom-section::after {
        content: "";
        position: absolute;
        top: 50%;
        width: calc(50% - 50px); /* Set the width dynamically */
        height: 2px;
        background-color: white;
    }
    
    .bottom-section::before {
        left: 0;
    }
    
    .bottom-section::after {
        right: 0;
    }
    
    h2 {
        display: inline-block;
        position: relative; 
        z-index: 1; 
        padding: 0 10px; 
        /* transform: translateY(50%); */
    }

    .paragraphsPart{
        width: 100%;
        text-align: center;
        margin-bottom: 4rem;
    }
    /* .bottom-section{
        margin-top: 4rem;
        margin-bottom: 4rem; 
        text-align: center; 
    }

    
    .line{
        display: inline-block;
        width: 40%;
        max-width: 50px; 
        height: 2px;
        background-color: blueviolet; 
    }
    
    h2 {
        margin: 20px 0; 
    }

    h2 span {
        flex: none;
    } */