    #landing {
        padding: 0 5rem; 
        display: flex;
        flex-wrap: wrap;
    }
    

    .top-section {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: 100vh;
      }
      
      .introContent {
        flex: 1;
      }
      
      .profileImg {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
      .profileImg img {
        max-width: 100%;
        height: auto;
      }


    .bg {
        width: 90%; 
        margin-left: 10%;
        /* justify-content: flex-end; */
        /* height: auto; */
        object-fit: cover;
        border-radius: 50px;
        /* box-shadow: 10px 10px 10px rgba(255, 255, 255, 0.1); */
    }
    
    
    
    .intro {
        font-size: 2.5rem; /* Adjust font size as needed */
        font-weight: 200;
        /* color: #000;  */
    }
    

    .hello{
        font-size: 5rem;
        font-weight: 200;
        color: var(--primary-color);
    }

    .name{
        color: rgb(146, 57, 235);
        font-weight: 300;
    }

    .aboutpg{
        font-size: medium;
        font-weight: 200;
    }

    @media screen and (max-width: 768px) {
        .top-section{
            flex-direction: column;
            justify-content: space-evenly;
        }
        .bg {
            max-width: 100%; 
            margin-left: 0;
        }
    
        .introContent,
        .profileImg {
            flex: none;
            width: 100%;
        }

        /* .profileImg {
            display: flex;
            justify-content: center;
            align-items: center;
          } */

        .hello{
            font-size: 2rem;
            font-weight: 200;
        }
        .intro {
            font-size: 1.5rem; 
            font-weight: 100;
        }
        .name{
            font-weight: 200;
        }
        #landing {
            padding: 0 2rem; 
        }
        .aboutpg{
            font-size: small;
        }
    }


    /* .line {
        border-top: 2px solid blue;
        justify-content: center;
        width: 45%;
        margin: 0 10px; 
    } */

 
    /* h2 {
        display: flex;
        align-items: center; 
        margin: 20px 0;
    } */

    .bottom-section {
        margin-top: 4rem;
        margin-bottom: 1rem;
        width: 100%;
        text-align: center;
        position: relative; /* Position the pseudo-element relative to this container */
    }
    
    .bottom-section::before,
    .bottom-section::after {
        content: "";
        position: absolute;
        top: 50%;
        width: calc(50% - 50px); /* Set the width dynamically */
        height: 2px;
        background-color: white;
    }
    
    .bottom-section::before {
        left: 0;
    }
    
    .bottom-section::after {
        right: 0;
    }
    
    h2 {
        display: inline-block;
        position: relative; 
        z-index: 1; 
        padding: 0 10px; 
        /* transform: translateY(50%); */
    }

    .paragraphsPart{
        width: 100%;
        text-align: center;
        margin-bottom: 4rem;
    }
    /* .bottom-section{
        margin-top: 4rem;
        margin-bottom: 4rem; 
        text-align: center; 
    }

    
    .line{
        display: inline-block;
        width: 40%;
        max-width: 50px; 
        height: 2px;
        background-color: blueviolet; 
    }
    
    h2 {
        margin: 20px 0; 
    }

    h2 span {
        flex: none;
    } */