
  .image-page {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    gap: 10px;
  }
.image-link {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
.image-link:hover {
    filter: brightness(80%); 
}
.image {
  max-width: 30%;
  height: auto;
  flex: 0 0 auto;
}
.image-wrapper {
  position: relative;
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 10px;
    max-width: 100%;
    /* overflow-x: auto; */
}

.overlay-text {
  position: absolute; 
  top: 10px; 
  left: 50%; 
  transform: translateX(-50%);
  background-color: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
  color: white;
  padding: 10px;
  text-align: center;
  width: 100%; 
  font-size: 2rem; 
  z-index: 2; 
}