.videoPage{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
    padding: 0 5rem; 
}

.videoPlayer{
    width:55%;
    height: auto;
    /* max-width: 100%;
    max-height: 100%; */
}

.bottom-section {
    margin-top: 4rem;
    margin-bottom: 1rem;
    width: 100%;
    text-align: center;
    position: relative; /* Position the pseudo-element relative to this container */
}

.bottom-section::before,
.bottom-section::after {
    content: "";
    position: absolute;
    top: 50%;
    width: calc(50% - 50px); /* Set the width dynamically */
    height: 2px;
    background-color: white;
}

.bottom-section::before {
    left: 0;
}

.bottom-section::after {
    right: 0;
}

h2 {
    display: inline-block;
    position: relative; 
    z-index: 1; 
    padding: 0 10px; 
    /* transform: translateY(50%); */
}

.paragraphsPart{
    width: 100%;
    text-align: center;
    margin-bottom: 4rem;
}



@media screen and (max-width: 768px) {
    .about-section {
        /* flex: 1; */
        width: 75%;
        margin-top: 2rem;
        margin-bottom: 2rem;
        text-align: center;
    }
}